# DataScienceEcosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

some of the popular language that Data Science use are:

1.  Python
2. R
3. SQL
4. C++
5. JAVA>etc..

some of the Commonly used libraries used by Data Scientist include:

1. TensorFlow.
2. Numpy.
3. Sipy.
4. Pandas.
5. MatPlotlib.
6. Keras.
7. SCKiT-learn.
8. PYTORCH.etc.

|Data Science Tools|
|---
|SAS 
|Apches Hadoop|
|TensorFlow|

# Blow are a few examples of evaluating arithmetic expression in python.

In [1]:
#this is a common arithmetic examle to multiply and then odd integers 
(3*4)+5

17

In [2]:
#this will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# objective
*  list popular language for Data Science 
* list popular libraries for Data Science
* list of Well Know Data Science Tools
* How to provid Comments in the cell

## Author 
Muhammad zaid